<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% if page.KeyWord =='' %}
    <title>首页</title>
    {% else %}
    <title>{{page.KeyWord}}</title>
    {% endif%}

    <link href="/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/js/bootstrap-3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/main.js" charset="UTF-8"></script>
</head>

<body>
    <div id="msg">
    </div>

    <!-- <div id="top"> -->
    <div class="row">
        <form action="/views" method="get" id="search-form">
            <div class="col-md-12">
                <button class="btn btn-xs  btn-success" onclick="locationViews();">首页</button>
                <button class="btn btn-xs  btn-warning " onclick="window.open('/star');">UU</button>
                <button type="button" class="btn btn-xs  btn-info " data-toggle="modal" data-target="#addDirModal">添加
                </button>
                <a onclick="refreshIndex();" class="btn btn-xs  btn-primary ">更新索引</a>
                <a class="btn btn-xs btn-default  fullscreen " onclick="fullScreen();">全屏</a>
                <input type="checkbox" class="" name="onlyRepeat" onchange="checkRepeat();">查重</input>

                <input type="text" class="input-group-sm col-sm-offset-1 " id="keyWord" name="keyWord"
                    placeholder="Search for..." value="{{page.KeyWord}}">
                <button id="btn3" class="btn btn-default " type="submit">Go!</button>

                {% if 'mtime' == sortField %}
                <input type="radio" name="sortField" value="mtime" id="mtime" checked onchange="loadPage()">时间</input>
                {% else %}
                <input type="radio" name="sortField" value="mtime" id="mtime" onchange="loadPage()">时间</input>
                {% endif%}

                {% if 'code' == sortField %}
                <input type="radio" name="sortField" value="code" id="code" checked onchange="loadPage(tis)">番号</input>
                {% else %}
                <input type="radio" name="sortField" value="code" id="code" onchange="loadPage()">番号</input>
                {% endif%}

                {% if 'size' == sortField %}
                <input type="radio" name="sortField" value="size" id="size" checked onchange="loadPage()">大小</input>
                {% else %}
                <input type="radio" name="sortField" value="size" id="size" onchange="loadPage()">大小</input>
                {% endif%}
                ||
                {% if 'asc' == sortType %}
                <input type="radio" name="sortType" value="asc" id="asc" checked onchange="loadPage()">正</input>
                {% else %}
                <input type="radio" name="sortType" value="asc" id="asc" onchange="loadPage()">正</input>
                {% endif%}
                {% if 'desc' == sortType %}
                <input type="radio" name="sortType" value="desc" id="desc" checked onchange="loadPage()">倒</input>
                {% else %}
                <input type="radio" name="sortType" value="desc" id="desc" onchange="loadPage()">倒</input>
                {% endif%}
                <input type="hidden" id="pageNo" name="pageNo" value="{{page.PageNo}}">
                <input type="input" style="width: 40px;" id="pageSize" name="pageSize" value="{{page.PageSize}}">
                <input type="hidden" id="totalPage" name="pageSize" value="{{page.TotalPage}}">

            </div>
        </form>
    </div>

    <div class="row">
        <div id="title" class="col-md-11">
            <span>文件总数:</span><span id="total">{{page.TotalCnt}}【{{page.TotalSize}}】</span>
            <span>搜索总数:</span><span id="total">{{page.ResultCnt}}【{{page.ResultSize}}】</span>
            <span>当前数量:</span><span id="total">{{page.CurCnt}}【{{page.CurSize}}】</span>
            <a href="javascript:void(0)" onclick="showDirList();">展开/关闭</a>
            <div id="dirList" style="display: none;">
                <ul class="list-inline list-group">
                    {% for index,dirpath in dirList %}
                    <li>
                        <a class="ist-group-item" href="#" onclick="clickDirAjax('{{index}}');" role="button">
                            <span>[{{dirpath}}]</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="row"> -->
    <!-- <nav aria-label="Page navigation"> -->
    <ul class="pagination">
        <li>
            <a href="javascript:void(0)" aria-label="Previous" onclick="lastPage();">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for page in page.EachPage %}
        {% if curPage == page %}
        <li><span>{{page}}</span></li>
        {% else %}
        <li><a href="javascript:void(0)" onclick="loadPage({{page}})">{{page}}</a></li>
        {% endif %}
        {% endfor %}
        <li>
            <a href="javascript:void(0)" aria-label="Next" onclick="nextPage();">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
    <!-- </nav> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <hr> -->
    <div id="context">
        {% for movie in page.Data %}
        <ul class="list-item">
            <div class="row">

                <a onclick="openModal('{{movie.Id}}');">
                    <img class="img-list-item img-rounded img-responsive"
                        src="data:image/png;base64,{{movie.PngBase64}}" title="{{movie.Name}}" />
                </a>
               <a href="javascript:void(0)" onclick="openAjax('{{movie.Id}}');">
                    <img class="img-icon img-rounded img-responsive" src="data:image/png;base64,{{playIcon}}"
                        title="打开" />
                </a>
                <a href="javascript:void(0)" onclick="clickActress('{{movie.Actress}}');">
                    <img class="img-icon img-rounded img-responsive" src="data:image/png;base64,{{changeIcon}}"
                        title="详情" />
                </a>
                <a href="javascript:void(0)" onclick="openDirAjax('{{movie.Id}}');">
                    <img class="img-icon img-rounded img-responsive" src="data:image/png;base64,{{openIcon}}"
                        title="文件夹" />
                </a>



                <a href="javascript:void(0)" onclick="deleteWarring('{{movie.Id}}');">
                    <img class="img-icon img-rounded img-responsive" src="data:image/png;base64,{{StopIcon}}"
                        title="删除" />
                </a>
                <a href="javascript:void(0)" onclick="makeNfo('{{movie.Id}}');">
                    <img class="img-icon img-rounded img-responsive" src="data:image/png;base64,{{closeIcon}}"
                        title="Nfo" />
                </a>
                <a href="javascript:void(0)" onclick="syncAv('{{movie.Id}}');">
                    <img class="img-icon img-rounded img-responsive" src="data:image/png;base64,{{replayIcon}}"
                        title="刷新" />
                </a>
                【{{movie.SizeStr}}】
            </div>
            <div class="row">
                <a href="javascript:void(0)" onclick="openModal('{{movie.Id}}');" role="button"></a>
                <span> {{movie.Name}}</span>
            </div>
        </ul>
        {% endfor %}
    </div>
    <div class="row">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="javascript:void(0)" aria-label="Previous" onclick="lastPage();">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page in page.EachPage %}
                {% if curPage == page %}
                <li><span>{{page}}</span></li>
                {% else %}
                <li><a href="javascript:void(0)" onclick="loadPage({{ page }})">{{page}}</a></li>
                {% endif %}

                {% endfor %}

                <li>
                    <a href="javascript:void(0)" aria-label="Next" onclick="nextPage();">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- Modal 确认删除 start-->
    <div class="modal fade" id="warning" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="hidden" id="deleteId">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="warningLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p id="deleteContext"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="deleteAjax()">确认删除</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 确认删除 end-->
    <!-- Modal 添加目录 end-->
    <div class="modal fade" id="addDirModal" tabindex="-1" role="dialog" aria-labelledby="addDirModalLabel">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="hidden" id="deleteId">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="warningLabel">添加目录</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <label>输入：</label><input type="text" id="addDirText" name="addDirText">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addDir()">添加</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 添加目录 end-->

    <!-- Modal 弹出详情 start-->
    <div class="modal fade bs-example-modal-lg " id="detail" tabindex="-1" role="dialog"
        aria-labelledby="detailModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <img id="myModalImg" style="max-height: 550px;">
                    <hr>
                    <div style="margin-left: 20px;">
                        <div class="row">
                            <label>番号:</label><a onclick="openCode();"><span id="fcode"></span></a>
                        </div>
                        <div class="row">
                            <label>优优:</label><a onclick="searchActress();"><span id="factress"></span></a>
                        </div>
                        <div class="row">
                            <label>时间:</label><span id="fmtime"></span>
                        </div>
                        <div class="row">
                            <label>大小:</label><span id="fsize"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <!--                <button type="button" class="btn btn-primary">Save changes</button>*/-->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg " id="movie" tabindex="-1" role="dialog" aria-labelledby="movie">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <video controls="controls" autoplay>
                        <source type="video/mp4" id="movieplayer"
                            src="F:\emby\91\不 會 做 家 事 只 會 性 服 務 的 女 僕 會 不 會 嫌 棄 人 家 呢 哈 哈.mp4">
                    </video>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <!--                <button type="button" class="btn btn-primary">Save changes</button>*/-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 弹出详情 end-->
</body>

</html>