<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置</title>
    <link href="/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/js/bootstrap-3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/setting.js" charset="UTF-8"></script>
    <script src="/js/select2/select2.min.js"></script>
    <script src="js/main.js"></script>
    <link href="/js/select2/select2.min.css" rel="stylesheet">

    <script>
        function removeThis(eid) {
            if (!eid) {
                return
            }
            var elements = document.getElementsByClassName(eid);
            while (elements.length > 0) {
                elements[0].parentNode.removeChild(elements[0])
            }
        }

        function chooseFile() {
            var fileValue = document.getElementById("file").value
            arr = fileValue.split("\\")
            fileValue = ""
            for (var i = 0; i < arr.length - 1; i++) {
                if (i != 0) {
                    fileValue += "\\"
                }
                fileValue += arr[i]
            }
            fileValue = fileValue.replace(/\\/g, "\\\\")
            var fileIndex = fileValue.replace(/\\/g, "~")
            var html = document.getElementById("baseDiv").innerHTML
            html += ' <div class="input-group"><input type="text" class="form-control ' + fileIndex + '" name="BaseDir" placeholder="D:\\" value="' + fileValue + '">' +
                '<a class="glyphicon glyphicon-remove input-group-addon ' + fileIndex + '" style="background: #ffffff;border: 0;"' +
                'type="button" value="" onclick="removeThis(\'' + fileIndex + '\');"></a></div>'
            document.getElementById("baseDiv").innerHTML = html
        }
    </script>
</head>
<body>
<button class="btn btn-xs  btn-success" onclick="locationViews();">首页</button>
<button class="btn btn-xs  btn-warning " onclick="window.open('/star');">UU</button>
<a onclick="refreshIndex();" class="btn btn-xs  btn-primary ">更新索引</a>
<h1 align="center"><b>系统设置</b></h1>
<form class="form-horizontal" action="settingsave" method="post">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">根URL</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="BaseUrl" name="BaseUrl" placeholder="http://"
                   value="{{BaseUrl}}">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">目录</label>

        <div class="col-sm-5" id="baseDiv">
            {% for index,dirpath in BaseDir %}
            <div class="input-group">
                <input type="text" class="form-control {{index}}" name="BaseDir" placeholder="D:\\" value="{{dirpath}}">
                <a class="glyphicon glyphicon-remove input-group-addon {{index}}" style="background: #ffffff;border: 0;"
                   type="button" value=""
                   onclick="removeThis('{{index}}');"></a>
            </div>
            {% endfor %}
        </div>
        <input type="file" id="file" onchange="chooseFile();">
    </div>

    <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">图片类型</label>
        <div class="col-sm-5">


            {% for image in Images %}
            <input type="hidden" value="{{image}}" class="imageValues">
            {% endfor %}

            <select class="ImagesSelect" name="Images" multiple="multiple">
                {% for type in Types %}
                <div class="input-group">
                    <option value="{{type}}">{{type}}</option>
                </div>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">视频类型</label>
        <div class="col-sm-5">
            {% for video in VideoTypes %}
            <input type="hidden" value="{{video}}" class="VideoTypesValues">
            {% endfor %}
            <select class="VideoTypesSelect" name="VideoTypes" multiple="multiple">
                {% for type in Types %}
                <div class="input-group">
                    <option value="{{type}}">{{type}}</option>
                </div>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">文档类型</label>
        <div class="col-sm-5">
            {% for doc in Docs %}
            <input type="hidden" value="{{doc}}" class="DocsValues">
            {% endfor %}
            <select class="DocsSelect" name="Docs" multiple="multiple">
                {% for type in Types %}
                <div class="input-group">
                    <option value="{{type}}">{{type}}</option>
                </div>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            <button type="submit" class="btn btn-default">保存</button>
        </div>
    </div>
</form>
<script>


    $(document).ready(function () {


        $('.ImagesSelect').select2(
            {
                width: "100%",
                data: image
            }
        );
        $('.VideoTypesSelect').select2(
            {
                width: "100%"
            }
        );
        $('.DocsSelect').select2(
            {
                width: "100%"
            }
        );
        var image = []
        var imageClass = document.getElementsByClassName("imageValues")
        for (var i = 0; i < imageClass.length; i++) {
            var item = imageClass[i].getAttribute("value")
            image[i] = item
        }
        $('.ImagesSelect').val(image).trigger('change')

        var videos = []
        var videoClass = document.getElementsByClassName("VideoTypesValues")
        for (var i = 0; i < videoClass.length; i++) {
            var item = videoClass[i].getAttribute("value")
            videos[i] = item
        }
        $('.VideoTypesSelect').val(videos).trigger('change')

        var docs = []
        var docsClass = document.getElementsByClassName("DocsValues")
        for (var i = 0; i < docsClass.length; i++) {
            var item = docsClass[i].getAttribute("value")
            docs[i] = item
        }
        $('.DocsSelect').val(docs).trigger('change')
    });
</script>
</body>
</html>