<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置</title>
    <link href="/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/js/bootstrap-3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/setting.js" charset="UTF-8"></script>
    <script src="/js/select2/select2.min.js" ></script>
    <link href="/js/select2/select2.min.css" rel="stylesheet">

    <script>
        function removeThis(eid) {
            if (!eid) {
                return
            }
            var elements = document.getElementsByClassName(eid);
            while (elements.length > 0) {
                elements[0].parentNode.removeChild(elements[0])
            }
        }
    </script>
</head>
<body>
<h1 align="center"><b>系统设置</b></h1>
<form class="form-horizontal" action="settingsave" method="post" >
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">根URL</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="BaseUrl" name="BaseUrl" placeholder="http://" value="{{BaseUrl}}">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">目录</label>

        <div class="col-sm-5">
            {% for index,dirpath in BaseDir %}
            <div class="input-group">
            <input type="text" class="form-control {{index}}" name="BaseDir" placeholder="D:\\" value="{{dirpath}}">
            <a  class="glyphicon glyphicon-remove input-group-addon {{index}}" style="background: #ffffff;border: 0;" type="button" value=""
               onclick="removeThis('{{index}}');"></a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">图片类型</label>
        <div class="col-sm-5">
            <select class="js-example-basic-multiple" name="Images" multiple="multiple">
                {% for type in Types %}
                <div class="input-group">
                    <option value="{{type}}">{{type}}</option>
                </div>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">视频类型</label>
        <div class="col-sm-5">
            <select class="js-example-basic-multiple" name="VideoTypes" multiple="multiple">
                {% for type in Types %}
                <div class="input-group">
                    <option value="{{type}}">{{type}}</option>
                </div>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">文档类型</label>
        <div class="col-sm-5">
            <select class="js-example-basic-multiple" name="Docs" multiple="multiple">
                {% for type in Types %}
                <div class="input-group">
                    <option value="{{type}}">{{type}}</option>
                </div>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            <button type="submit" class="btn btn-default">Sign in</button>
        </div>
    </div>
</form>
<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2(
            {
                width:"100%"
            }
        );
    });
</script>
</body>
</html>